autopep8==1.6.0
charset-normalizer==2.1.0
dateparser==1.1.1
feedparser==6.0.2
html2text==2020.1.16
htmldate==1.2.3
lxml==4.9.1
pycodestyle==2.8.0
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
regex==2021.4.4
sgmllib3k==1.0.0
six==1.16.0
toml==0.10.2
tzdata==2022.1
tzlocal==4.2
Unidecode==1.1.1
urllib3==1.26.10
