beautifulsoup4
certifi
charset-normalizer
cssutils
dateparser
feedparser
html2text
htmldate
idna
lxml
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
sgmllib3k
six
tzdata
tzlocal
Unidecode
urllib3
